<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleApp.OSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TSDocDB.OSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TSDocDB.iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>368F1E3E13A3B7DA00835CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368F1E5113A3B80000835CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368F1F2C13A3D9F400835CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368F1F4913A3DB1A00835CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368F1F7113A4417000835CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368F1FAC13A4425100835CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368F1FCD13A4427E00835CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
